#toast {
    visibility: hidden;
    max-width: 80px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: rgba(51, 51, 51, .7);;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    top: 230px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 80px;
	height: 50px;    
    float: left;    
    padding-top: 16px;
    padding-bottom: 16px;    
    box-sizing: border-box;    
    background-color:  rgba(17, 17, 17, .7);
    color: #fff;
}
#toast #desc{    
    color: #fff;   
    padding: 16px;    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 6s 1s;
	animation: fadein 0.5s, expand 0.5s 0.5s,stay 6s 1s;
}

#toast.mant {
	max-width: 380px !important;
	visibility: inherit;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 230px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 230px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {max-width: 80px} 
	to {max-width: 380px}
}

@keyframes expand {
    from {max-width: 80px}
    to {max-width: 380px}
}
@-webkit-keyframes stay {
    from {max-width: 380px} 
    to {max-width: 380px}
}

@keyframes stay {
    from {max-width: 380px}
    to {max-width: 380px}
}


